:root {
    --primary-color: #5e3b9a;
    --secondary-color: #919191;
    --tertiary-color: #f2f2f2;
    --variation-color1: #d43fd4e0;
    --variation-color2: #646464;
  }

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

section {
    border: 2px solid;
    border-color: black;
    margin: 10px;
}

p.colors {
    display: inline-block;
    width: 30%;
    border: 1px dotted;
    border-color: black;
    min-height: 80px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Roboto Mono', sans-serif;
}

a.hexcolor {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolder;
}

#primary-color {
    background-color: #5e3b9a;
}

#secondary-color {
    background-color: #919191;
}

#tertiary-color {
    background-color: #f2f2f2;
}

#variation-color1 {
    background-color: #d43fd4e0;    
}

#variation-color2 {
    background-color: #646464;
}

p #font-name {
    text-decoration: underline;
    font-size: 40px;
}

#roboto-mono {
    font-family: 'Roboto Mono';
}

#bebas-neue {
    font-family: 'Bebas Neue';
}

#roboto-condensed {
    font-family: 'Roboto Condensed';
}

.first-text {
    font-weight: 300;
    padding: 10px;
}

.second-text {
    font-weight: 700;
    padding: 10px;
}

.third-text {
    font-style: italic;
    padding: 10px;
}

.main-heading {
    font-family: 'Bebas Neue';
}

#h1-example {
    font-weight: 700;
    font-size: 26px;
}

.subheading {
    font-family: 'Roboto Mono';
}

#h2-example {
    font-weight: 400;
    font-size: 18px;
}

.paragraph {
    font-family: 'Roboto Condensed';
}

#p-example {
    font-weight: 300;
    font-size: 14px;
}